@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeui.ttf");
    font-weight: 100;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/seguisb.ttf");
    font-weight: 500;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeuib.ttf");
    font-weight: 800;
}

html, body {
    font-family: "segoeu";
    font-weight: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* צבעים */
.blue {
    filter: hue-rotate(140deg);
}

.light-green {
    filter: hue-rotate(30deg);
}

.teal {
    filter: hue-rotate(110deg);
}

.purple {
    filter: hue-rotate(205deg);
}

.hidden {
    display: none;
}

.sub-titles {
    font-weight: bold;
    padding-top: 1em;
}

/* חלק עליון */
.topButton {
    width: 18vw;
    position: absolute;
    top: 8vh;
    left: 9vw;
}

.title {
    color: #f4f4f4;
    font-weight: 800;
    font-size: 2.5em;
    position: absolute;
    top: 3vh;
    padding-right: 1em;
}

/* חיפוש */
.searchBoxHolder {
    width: 73vw;
    position: absolute;
    top: 8vh;
    left: 3vw;
    z-index: 2;
}

.searchBox {
    width: 52vw;
    border-radius: 10vw;
    position: absolute;
    top: 9.7vh;
    left: 20vw;
    border: none;
    background-color: #f4f4f4;
    padding-bottom: 1em;
    padding-top: 1em;
    direction: ltr;
    font-family: "segoeu";
    text-align: center;
    z-index: 2;
    outline: none;
}

input:focus{
    outline: none;
    top: 11vh;
}

.dropDown{
    width: 73vw;
    height: 50vh;
    position: absolute;
    left: 3vw;
    top: 21vh;
    overflow-y: scroll;
}

.dropDownItem {
    width: 73vw;
    height: 7vh;
    border-radius: 20vw;
    text-align: center;
    padding-top: 0.4em;
    margin-top: 0.1em;
    background-color: #f4f4f4;
}

.darkScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
    top: 0;
}

/* אודות */
.aboutButton {
    width: 7vw;
    position: absolute;
    top: 2vh;
    left: 3vw;
}

.aboutPage {
    padding: 1vh 4vw;
    height: 80vh;
    width: 92vw;
    position: absolute;
    top: 20vh;
    overflow: hidden;
}

.aboutHeadline {
    width: 30vw;
    display: block;
    margin: auto;
}

.logos {
    width: 25vw;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 55vh;
    left: 35vw;
}

/* תעודת זהות של תרופות */
.medicineId {
    pointer-events: none;
    padding: 1vh 4vw;
    height: 65vh;
    width: 92vw;
    position: absolute;
    top: 22vh;
    overflow-y: scroll;
}

.medicineId::-webkit-scrollbar {
    display: none;
}

.pic {
    width: 42vw;
    position: absolute;
    left: 5vw;
}