/* תרגול */
.topButtonPractice {
    width: 15vw;
    top: 10vh;
    left: 5vw;
}

.titleContainerPractice{
    height: 10vh;
}

.practiceCharacter {
    width: 42vw;
    position: absolute;
    top: 13vh;
}

.practiceQuestionBobble {
    position: absolute;
    top: 32vh;
}

.question {
    position: absolute;
    top: 38vh;
    padding: 1em;
}

.practiceQuestionSqure {
    width: 8vw;
}

.answersCobtainer {
    display: flex;
    flex-direction: column;
    height: 32vh;
    justify-content: space-between;
    position: absolute;
    top: 54vh;
    padding: 0.5em;
}

.ans {
    display: flex;
    align-items: center;
}

.ans div {
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.4em;
}

.correctAnswer {
    background-color: rgba(98, 212, 159, 0.671);
}

.wrongAnswer {
    background-color: rgba(212, 98, 98, 0.671);
}

.practiceBottomButton {
    width: 25vw;
    position: absolute;
    top: 90vh;
    left: 70vw;
}

/* מבחן */
.beforeExamInstractions {
    width: 95.7vw;
    height: 12vh;
    position: absolute;
    top: 20vh;
    background-color: #79bee0bb;
    padding: 0.5em;
    font-weight: 500;
}

.examCharacter {
    width: 37vw;
    position: absolute;
    top: 35vh;
}

.beforeExamBobble {
    position: absolute;
    top: 40vh;
    left: 1vw;
    width: 55vw;
    height: 23vh;
    background-image: url(../assets/images/grapics/test/before-test-speech-bubble.svg);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    padding: 0.5em;
    padding-right: 2.5em;
    text-align: center;
}

.examNameInput {
    border: none;
    width: 99vw;
    height: 4vh;
    position: absolute;
    top: 72vh;
    background-color: #79bee0bb;
    font-weight: 500;
    font-size: 1em;
    font-family: 'segoeu';
    text-align: center;
    color: black;
}

.examNameInput:focus{
    outline: none;
}

.beforeTestButtons {
    height: 6vh;
}

.beforeTestButtonsContainer {
    display: flex;
    width: 100vw;
    position: absolute;
    justify-content: space-evenly;
    top: 83vh;
}